USE [ControleTransporte]
GO
/****** Object:  Table [dbo].[menuacao]    Script Date: 04/02/2021 17:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menuacao](
	[menuacaoid] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [char](1) NULL,
	[descricao] [varchar](100) NULL,
	[situacao] [char](1) NULL,
	[ordembotao] [int] NULL,
	[usuarioidinclusao] [int] NULL,
	[usuarioidalteracao] [int] NULL,
	[datahorainclusao] [datetime2](0) NULL,
	[datahoraalteracao] [datetime2](0) NULL,
 CONSTRAINT [PK_menuacao_menuacaoid] PRIMARY KEY CLUSTERED 
(
	[menuacaoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[menuacao] ADD  DEFAULT (NULL) FOR [tipo]
GO
ALTER TABLE [dbo].[menuacao] ADD  DEFAULT (NULL) FOR [descricao]
GO
ALTER TABLE [dbo].[menuacao] ADD  DEFAULT (NULL) FOR [situacao]
GO
ALTER TABLE [dbo].[menuacao] ADD  DEFAULT (NULL) FOR [ordembotao]
GO
ALTER TABLE [dbo].[menuacao] ADD  DEFAULT (NULL) FOR [usuarioidinclusao]
GO
ALTER TABLE [dbo].[menuacao] ADD  DEFAULT (NULL) FOR [usuarioidalteracao]
GO
ALTER TABLE [dbo].[menuacao] ADD  DEFAULT (NULL) FOR [datahorainclusao]
GO
ALTER TABLE [dbo].[menuacao] ADD  DEFAULT (NULL) FOR [datahoraalteracao]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cdi.menuacao' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menuacao'
GO
