USE [ControleTransporte]
GO
/****** Object:  Table [dbo].[auditlog]    Script Date: 04/02/2021 17:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditlog](
	[AuditLogId] [bigint] IDENTITY(17,1) NOT NULL,
	[UserName] [varchar](150) NULL,
	[EventDateUTC] [datetime2](0) NULL,
	[EventType] [int] NULL,
	[TypeFullName] [varchar](512) NULL,
	[RecordId] [varchar](256) NULL,
 CONSTRAINT [PK_auditlog_AuditLogId] PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auditlog] ON 

INSERT [dbo].[auditlog] ([AuditLogId], [UserName], [EventDateUTC], [EventType], [TypeFullName], [RecordId]) VALUES (960, N'rpedra', CAST(N'2020-12-10T15:14:17.0000000' AS DateTime2), 0, N'Cadastramento.ModelData.Logic.Cadastramento.logacesso', N'113')
INSERT [dbo].[auditlog] ([AuditLogId], [UserName], [EventDateUTC], [EventType], [TypeFullName], [RecordId]) VALUES (961, N'rpedra', CAST(N'2020-12-10T15:42:03.0000000' AS DateTime2), 0, N'Cadastramento.ModelData.Logic.Cadastramento.logacesso', N'114')
INSERT [dbo].[auditlog] ([AuditLogId], [UserName], [EventDateUTC], [EventType], [TypeFullName], [RecordId]) VALUES (962, N'rpedra', CAST(N'2020-12-10T16:36:20.0000000' AS DateTime2), 0, N'Cadastramento.ModelData.Logic.Cadastramento.logacesso', N'115')
GO
SET IDENTITY_INSERT [dbo].[auditlog] OFF
GO
ALTER TABLE [dbo].[auditlog] ADD  DEFAULT (NULL) FOR [UserName]
GO
ALTER TABLE [dbo].[auditlog] ADD  DEFAULT (NULL) FOR [EventDateUTC]
GO
ALTER TABLE [dbo].[auditlog] ADD  DEFAULT (NULL) FOR [EventType]
GO
ALTER TABLE [dbo].[auditlog] ADD  DEFAULT (NULL) FOR [TypeFullName]
GO
ALTER TABLE [dbo].[auditlog] ADD  DEFAULT (NULL) FOR [RecordId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cdi.auditlog' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'auditlog'
GO
