USE [ControleTransporte]
GO
/****** Object:  Table [dbo].[municipio]    Script Date: 04/02/2021 17:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipio](
	[municipioid] [int] NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[uf] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_municipio] PRIMARY KEY CLUSTERED 
(
	[municipioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[municipio] ([municipioid], [nome], [uf]) VALUES (1, N'Alta Floresta D´oeste', N'RO')
INSERT [dbo].[municipio] ([municipioid], [nome], [uf]) VALUES (2, N'Ariquemes', N'RO')
INSERT [dbo].[municipio] ([municipioid], [nome], [uf]) VALUES (3, N'Cabixi', N'RO')
GO
