USE [ControleTransporte]
GO
/****** Object:  Table [dbo].[logacesso]    Script Date: 04/02/2021 17:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logacesso](
	[logacessoid] [int] IDENTITY(11,1) NOT NULL,
	[sistema] [varchar](50) NULL,
	[usuarioid] [int] NULL,
	[login] [varchar](200) NULL,
	[datahoralog] [datetime2](0) NULL,
	[ip] [varchar](100) NULL,
	[municipio] [varchar](255) NULL,
	[browser] [varchar](255) NULL,
 CONSTRAINT [PK_logacesso_logacessoid] PRIMARY KEY CLUSTERED 
(
	[logacessoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[logacesso] ON 

INSERT [dbo].[logacesso] ([logacessoid], [sistema], [usuarioid], [login], [datahoralog], [ip], [municipio], [browser]) VALUES (11, N'CADASTRAMENTO', 3, N'RPEDRA', CAST(N'2020-07-24T16:58:41.0000000' AS DateTime2), N'172.20.13.248', N'CAMPO GRANDE', N'CHROME 84.0')
INSERT [dbo].[logacesso] ([logacessoid], [sistema], [usuarioid], [login], [datahoralog], [ip], [municipio], [browser]) VALUES (12, N'CADASTRAMENTO', 3, N'RPEDRA', CAST(N'2020-07-24T18:09:06.0000000' AS DateTime2), N'172.20.13.248', N'CAMPO GRANDE', N'CHROME 84.0')
INSERT [dbo].[logacesso] ([logacessoid], [sistema], [usuarioid], [login], [datahoralog], [ip], [municipio], [browser]) VALUES (13, N'CADASTRAMENTO', 3, N'RPEDRA', CAST(N'2020-07-24T18:45:39.0000000' AS DateTime2), N'172.20.13.248', N'CAMPO GRANDE', N'CHROME 84.0')
GO
SET IDENTITY_INSERT [dbo].[logacesso] OFF
GO
ALTER TABLE [dbo].[logacesso] ADD  DEFAULT (NULL) FOR [sistema]
GO
ALTER TABLE [dbo].[logacesso] ADD  DEFAULT (NULL) FOR [usuarioid]
GO
ALTER TABLE [dbo].[logacesso] ADD  DEFAULT (NULL) FOR [login]
GO
ALTER TABLE [dbo].[logacesso] ADD  DEFAULT (NULL) FOR [datahoralog]
GO
ALTER TABLE [dbo].[logacesso] ADD  DEFAULT (NULL) FOR [ip]
GO
ALTER TABLE [dbo].[logacesso] ADD  DEFAULT (NULL) FOR [municipio]
GO
ALTER TABLE [dbo].[logacesso] ADD  DEFAULT (NULL) FOR [browser]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cdi.logacesso' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'logacesso'
GO
